# Make emacs the default editor.
export EDITOR='emacs';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer GB English and use UTF-8.
export LANG='en_GB.UTF-8';
export LC_ALL='en_GB.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# ctrl+d conveniently exits Bash, sometimes too conveniently
export IGNOREEOF=1

export JAVA_HOME=export JAVA_HOME="$(/usr/libexec/java_home -v 1.8)"

export SPARK_HOME='/Users/davidmatthews/projects/spark/spark-1.6.1-bin-hadoop2.6/'
export PATH=$PATH:$SPARK_HOME/bin
export PYSPARK_SUBMIT_ARGS='--master local[2] pyspark-shell'
